@import url('https://fonts.googleapis.com/css2? família=Poppins:ital@1&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 80px;
    color: rgb(255, 251, 255);
}
body {
    background-color: rgb(47, 20, 47);
    align-items: center;
}

#todos {
    text-align: center;
    color: white;
    margin-bottom: 3rem;
}

#conta {
    color: white;
    text-align: center;
}

#link {
    text-align: center;
    color: white;
}

#linkk {
    text-align: center;
    color: white;
}

#ou {
    text-align: center;
    color: white;
}

form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;